*{margin: auto}
body{background-color: #ffffff;font-family:arial;font-size:.82em;font-weight:normal}
header{width:100%;}
#header-inner{width:74%;height: 66px; display: flex;}
#logo{margin-right: 178px;font-size: 29px; font-weight:bold; color: #6170ff}
#menu ul{list-style: none;}
#menu ul li{text-decoration: none;color: #a9a9a9; display: inline-block; margin-right:36px; padding: 26.5px 10px;}
#menu ul li:hover{background-color: #6170ff; color: #343434;}
#call img{margin-top: 0px}
#banner img{width: 100%; height: 980px}
#container{width:100%; margin-top: 113px; display: flex; position: relative}
#square{height: 262px; width: 259px; margin-left: 212px}
#para{width:60%}
#para h3{font-size: 32px;margin-bottom: 40px; margin-top: 100px}
#para h4{font-size: 12px; margin-top: 40px}
#para pre{font-size: 12PX; color: #575656}
#square img {position: absolute; left: 180px; top: 30px; z-index: -1}
#pic {margin-left: 137px; margin-right: 170px; text-align: center}
#pic img{width: 500px}
#cards{width: 100%; margin-top: 162px; margin-bottom: 132px}
#box{display: flex; margin: 0px 245px; text-align: center}
#box1, #box2, #box3{height: 333px; width: 300px; background-color: #e8f2fe; margin-left: 20px; transition: all 0.4s ease}
#box img{height: 170px; width: 300px; margin-bottom: 29px}
#box p{font-size: 14px; font-weight: bold; color: #737373}
#box h3{font-size: 21px; font-weight: bold; color: #343434; margin: 23px 0px}
#box i{color: #6170ff; font-size: 30px}
#box1:hover{box-shadow: -13px 25px 35px 7px #a7a7a7; background-color: #ffffff; transform: translateX(3px)}
#box2:hover{box-shadow: -13px 25px 35px 7px #a7a7a7; background-color: #ffffff; transform: translateX(3px)}
#box3:hover{box-shadow: -13px 25px 35px 7px #a7a7a7; background-color: #ffffff; transform: translateX(3px)}
#testimonials img{width: 100%}
#testimonials{margin-bottom: 127px;}
#brand-box{width: 100%; margin-bottom: 123px}
#brand{margin: 0px 240px; display: flex; }
#footer{width: 100%; height: 443px}
#data{width:100%; height: 322px; background-color: #2b2b2b; align-content: center;}
#foot1{width: 75%; display: flex; }
#about{height: 148px; width: 250px}
#about h2{color: #6170ff; font-size: 29px; font-weight: bold; }
#about p{color: #878787; padding-left: 10px; font-size: 14px; font-weight: bold; margin-top: 30px; line-height: 25px;}
#link1, #link2, #link3{height: 148px; width: 150px; }
#link1 h2{color: #ffffff; font-size: 18px; font-weight: bold; margin-bottom: 30px}
#link1 p{color: #878787; font-size: 14px; line-height: 25px}
#link2 h2{color: #ffffff; font-size: 18px; font-weight: bold; margin-bottom: 30px}
#link2 p{color: #878787; font-size: 14px; line-height: 25px}
#link3 h2{color: #ffffff; font-size: 18px; font-weight: bold; margin-bottom: 30px}
#link3 p{color: #878787; font-size: 14px; line-height: 25px}
#contact{height: 148px; width: 220px; }
#contact h2{color: #ffffff; font-size: 18px; font-weight: bold; margin-bottom: 30px}
#contact p{color: #878787; font-size: 14px; line-height: 25px; font-weight: bold}     
#contact p i{font-size: 14px; margin-right: 20px; color: #6170ff}
#foot2{width:100%; height: 121px; background-color: #000000; align-content: center;}
#details{width: 75%; display: flex}
#copy p{font-size: 16px; color: #878787; margin-right: 55px;}
#links{display: flex; width: 450px; margin-right: 20px;}
#links p{color:#878787; font-size: 16px; margin: 0px 20px;}
#social{color: #878787}
#social i{margin: 0px 10px; font-size: 16px;}